html,body{
 margin:0;
 padding:0;
 height:100%;
 width:100%;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
 overflow-x: hidden;
}

#body{
	margin-left:1rem;
	margin-right:1rem;
}

.pointContainer{
	display:flex;
	flex-direction:row;
	overflow-x: auto;	
}

#header{
  height: 8rem;
  background-color: #231f20;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

.logoProjeto,.logoIF{
  height: 8.2rem;
  width: auto;
  image-rendering: pixelated;
  margin-left: 1rem;
}

.logoContainer{
  width: 40rem;
}

.containerProjeto{
  text-align:left;
  margin-left:1rem;
}

.containerIF{
  text-align:right;
  margin-right:1rem;
}

.logo{
  height: 8rem;
  width: auto;
}

#title{
  color: white;
}

h1,h2,h3,h4,h5{
  text-align: center;
}

h2{
margin-top:2rem;
}

.tableContainer{
  height: 20rem;
  overflow-x: auto;
  overflow-y: scroll;  
  width: 100%;
}

td, th {  
  text-align: left;
  padding: 5px;
}

th{
position: sticky;
top: 0; 
background:  #231f20;
color:white;
}

tr:nth-child(even) {
  background-color: #E5E8E8;
}


#footer{
}
.logo{
  height: 6rem;
  width: auto;
  margin-left:1rem;
  margin-right:1rem;
}


table{
border: 1px solid #231f20;
  border-collapse: collapse;
}

.pointHeader{
	background-color: #efefef;
    	border: solid 1px;
}

.pointHeader p{
	margin-left:1rem 
}

.graph {
	transform: rotate(90deg);
}

table{
    width: 100%;
    overflow-x: auto;
}


#winners_table > tbody > tr > th{
  width:2rem;
}


#winners_table{
	width:50%
}

footer {
background: #231f20;
color:white;
height: 5rem;
align-items: center;
    display: flex;
    justify-content: center;
flex-direction:column;
}

a:visited{
text-decoration: none;
	color:white;
}